@use "../../variables" as *;
@use "../../functions" as *;

@mixin quiz-cards {
	&__cards {
		position: relative;
		flex: 1;
		min-width: 0;
		max-width: 100%;
		perspective: 800px;
		overflow: hidden;

		@media (max-width: $mobile-max) {
			overflow: visible;
			padding-bottom: 8px;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				height: 100%;
				border-radius: rem(16px);
				box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
				transform-origin: bottom center;
				pointer-events: none;
			}

			&::before {
				z-index: 1;
				bottom: -8px;
				height: calc(100% + 8px);
				background-color: #f0d9ff;
				transform: scale(0.52);
			}

			&::after {
				z-index: 2;
				bottom: -0;
				height: calc(100% + 4px);
				background-color: #e9c4ff;
				transform: scale(0.76);
			}
		}

		&-item {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			min-height: 100%;
			box-sizing: border-box;
			padding: rem(32px);
			border-radius: rem(24px);
			box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
			display: flex;
			flex-direction: column;
			gap: rem(20px);
			transform-origin: top center;
			background-color: $color-white;

			@media (max-width: $mobile-max) {
				padding: 32px 16px 16px 16px;
				border-radius: rem(16px);
			}

			&:not(.quiz__cards-item_active) > * {
				visibility: hidden;
				pointer-events: none;
			}

			&_active {
				position: relative;
				height: auto;
				min-height: auto;

				& > * {
					visibility: visible;
					pointer-events: auto;
				}
			}

			&_subtitle {
				font-size: 128px;
				font-family: $font-secondary;
				font-weight: 700;
				color: $color-black;
				margin: 0;
				margin-bottom: rem(24px);

				@media (max-width: $mobile-max) {
					font-size: 40px;
				}
			}

			&_title {
				font-family: $font-primary;
				font-size: rem(72px);
				font-weight: 700;
				color: $color-black;
				margin: 0;
				overflow-wrap: break-word;
				word-wrap: break-word;

				@media (max-width: $mobile-max) {
					font-size: 40px;
				}
			}

			&_description {
				font-family: $font-secondary;
				font-size: rem(20px);
				font-weight: 500;
				color: $color-black;
				margin: 0;
				overflow-wrap: break-word;
				word-wrap: break-word;

				@media (max-width: $mobile-max) {
					font-size: 16px;
				}
			}

			&_answers {
				display: flex;
				flex-direction: column;
				gap: rem(12px);
			}

			&_actions {
				display: flex;
				gap: rem(12px);
				margin-top: auto;
				padding-top: rem(16px);
			}
		}
	}
}
