@use "../../variables" as *;
@use "../../functions" as *;
@use "questions" as *;
@use "cards" as *;
@use "answer-block" as *;
@use "buttons" as *;

.quiz {
	background: linear-gradient(
		180deg,
		$color-primary-lightest 0%,
		$color-mobile-bg 100%
	);
	padding: rem(40px) 0;
	margin-top: rem(96px);

	@media (max-width: $mobile-max) {
		margin-top: rem(48px);
		padding-top: 0;
		padding-bottom: 0;
	}

	&__title {
		font-family: $font-primary;
		font-size: rem(32px);
		font-weight: 700;
		text-align: center;
		margin: 0 0 rem(24px);
		color: $color-black;

		@media (max-width: $mobile-max) {
			font-size: rem(40px);
		}
	}

	&__container {
		display: flex;
		gap: rem(24px);
		align-items: flex-start;
		margin: 0 auto;
		max-width: 100%;
		box-sizing: border-box;

		@media (max-width: $mobile-max) {
			flex-direction: column;
			gap: rem(4px);
		}
	}

	@include quiz-questions;
	@include quiz-cards;
	@include quiz-answer-block;
	@include quiz-buttons;
}
