@use "variables" as *;
@use "functions" as *;

.banner {
	height: 90vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $color-white;
	background-image: url("../img/banner_bg.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;

	border-bottom-left-radius: rem(32px);
	border-bottom-right-radius: rem(32px);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(32px);
	}

	&__title {
		font-family: $font-primary;
		font-size: rem(96px);
		font-weight: 700;
		text-align: center;
	}

	&__description {
		font-family: $font-secondary;
		font-size: rem(20px);
		font-weight: 500;
		text-align: center;

		max-width: em(690px);
		margin: 0 auto;
	}
}
