@use "variables" as *;
@use "functions" as *;

.footer {
	background-color: $color-black;
	padding: rem(24px) 0;

	border-top-left-radius: rem(32px);
	border-top-right-radius: rem(32px);

	margin-top: 96px;

	@media (max-width: $mobile-max) {
		margin-top: 48px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(32px);
		padding-left: rem(48px);
		padding-right: rem(48px);
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: rem(32px);
		flex-wrap: wrap;

		&_contacts {
			gap: rem(48px);
		}

		&_social {
			justify-content: space-between;
		}
	}

	&__contact-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__label {
		color: $color-white;
		font-family: $font-secondary;
		font-size: rem(20px);
		font-weight: 500;
		margin-bottom: rem(16px);
	}

	&__value {
		color: $color-white;
		font-family: $font-primary;
		font-size: rem(48px);
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: rem(4px);
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.85;
		}
	}

	&__icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: rem(12px);
		align-items: center;
	}

	&__icon-link {
		display: block;
		line-height: 0;
		overflow: hidden;
		width: 341px;
		height: rem(70px);
		border-radius: rem(32px);

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	@media (max-width: 1100px) {
		&__icons {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: rem(12px);
		}

		&__icon-link {
			width: 100%;
			max-width: 100%;
		}
	}

	&__brand {
		color: $color-white;
		font-family: $font-primary;
		font-size: rem(36px);
		font-weight: bold;
	}

	@media (max-width: $mobile-max) {
		&__container {
			position: relative;
			padding-top: rem(120px);
			padding-left: rem(24px);
			padding-right: rem(24px);
		}

		&__row {
			&_social {
				flex-direction: column;
				align-items: stretch;
				gap: rem(24px);
			}

			&_contacts {
				gap: rem(32px);
			}
		}

		&__label {
			font-size: rem(14px);
			margin-bottom: rem(11px);
		}

		&__value {
			font-size: rem(24px);
		}

		&__brand {
			position: absolute;
			top: rem(24px);
			left: rem(24px);
			font-size: rem(36px);
		}

		&__icons {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: rem(12px);
		}
	}

	@media (max-width: $tablet-max) {
		&__icon-link {
			width: 100%;
			max-width: none;
			height: rem(36px);
		}
	}
}
