@use "variables" as *;
@use "functions" as *;

.reactions {
	width: 100%;
	margin-top: 8px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: rem(8px);
		margin: 0 auto;
		list-style: none;
		padding: 0 20px;
	}

	&__item {
		flex: 0 0 auto;
		width: max-content;
		font-family: $font-secondary;
		font-size: rem(20px);
		font-weight: 500;
		text-align: center;
		padding: rem(8px) rem(16px);
		border-radius: rem(24px);
		background-color: $color-white;
		white-space: nowrap;
		display: flex;
		align-items: center;
		gap: rem(8px);
	}

	&__item_icon {
		font-size: rem(32px);
	}
}
