@use "variables" as *;
@use "functions" as *;

.reviews {
	margin-top: 48px;

	&__container {
		position: relative;
	}
	.embla {
		margin: auto;
		--slide-height: 19rem;
		--slide-spacing: 8px;
		--slide-size: 25%;
		@media (max-width: $mobile-max) {
			--slide-size: 90%;
		}
	}
	.embla__viewport {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
		touch-action: pan-y pinch-zoom;
		margin-left: calc(var(--slide-spacing) * -1);
	}
	.embla__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
	}
	.embla__slide__number {
		border: 0.2rem solid var(--detail-medium-contrast);
		border-radius: 1.8rem;
		font-size: 4rem;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--slide-height);
		user-select: none;
	}
	.embla__controls {
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: space-between;
		gap: 1.2rem;
		margin-top: 1.8rem;
	}
	.embla__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.6rem;
		align-items: center;
	}
	.embla__button {
		-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		touch-action: manipulation;
		display: inline-flex;
		text-decoration: none;
		cursor: pointer;
		border: 0;
		padding: 0;
		margin: 0;
		border: 0.2rem solid var(--detail-medium-contrast);
		width: 3.6rem;
		height: 3.6rem;
		z-index: 1;
		border-radius: 50%;
		color: var(--text-body);
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(0deg);
	}
	.embla__button--disabled {
		color: var(--detail-high-contrast);
	}
	.embla__button__svg {
		width: 35%;
		height: 35%;
	}

	&__item {
		border-radius: rem(32px);
		padding: rem(8px);
		min-height: 464px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		text-align: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		user-select: none;
		-webkit-user-select: none;
		@media (max-width: $mobile-max) {
			min-height: rem(522px);
		}

		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			flex: 0 0 auto;
			align-self: stretch;

			background-color: $color-white;
			border-radius: rem(24px);

			padding: 0 rem(16px) rem(24px) rem(16px);

			&_avatar {
				width: rem(80px);
				height: rem(80px);
				border-radius: 50%;
				object-fit: cover;
				border: rem(9px) solid $color-white;
				box-sizing: border-box;
				margin-top: rem(-40px);
				margin-bottom: rem(8px);
			}
			&_name {
				font-family: $font-secondary;
				font-size: rem(24px);
				font-weight: 700;
				color: $color-black;
				margin: 0 0 rem(16px);
				text-align: center;
			}
			&_description {
				font-family: $font-secondary;
				font-size: rem(16px);
				font-weight: 500;
				color: $color-black;
				margin: 0;
				text-align: left;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 16;
			}
		}
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: rem(100px);
		height: rem(100px);
		border-radius: rem(32px);
		border: none;
		background: $color-white;
		color: $color-black;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 rem(24px) rem(35px) 0 rgba(158, 0, 255, 0.3);
		transition:
			opacity 0.2s,
			background 0.2s;
		z-index: 2;
		&:disabled {
			opacity: 0.4;
			cursor: not-allowed;
		}
		&_prev {
			left: rem(32px);
		}
		&_next {
			right: rem(32px);
		}
		@media (max-width: $mobile-max) {
			display: none;
		}
	}
}
