@use "sass:meta";
@use "sass:math";

@function strip-unit($number) {
	@if meta.type-of($number) == "number" and not math.is-unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}
	@return $number;
}

@function em($size, $base-font-size: 16px) {
	@return math.div(strip-unit($size), strip-unit($base-font-size)) * 1rem;
}

@function rem($size, $base-font-size: 16px) {
	@return math.div(strip-unit($size), strip-unit($base-font-size)) * 1rem;
}
