@use "variables" as *;
@use "functions" as *;

body {
	background-color: $color-primary-lightest;
}

.title__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.btn {
	display: inline-block;

	padding: rem(12px) rem(32px);
	border-radius: rem(16px);
	background-color: $color-black;
	color: $color-white;
	font-family: $font-secondary;
	font-size: rem(20px);
	font-weight: 600;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		cursor:
			url("../img/cursor_hover.png") 0 0,
			pointer;
	}
}
