$mobile-max: 1279px;
$mobile-min: 1280px;
$tablet-max: 500px;
$tablet-min: 501px;

// Основные фирменные цвета
$color-primary: #9e00ff;
$color-primary-light: #e9c4ff;
$color-primary-lighter: #f0d9ff;
$color-primary-lightest: #f9efff;
$color-mobile-bg: #f7ebff;

// Акцент и нейтральные цвета
$color-accent: #ff004c;
$color-black: #000000;
$color-white: #ffffff;
$color-grey-light: #f2f2f2;

// Основные шрифты
$font-primary: "PP Neue Machina", sans-serif;
$font-secondary: "Raleway-v4020", sans-serif;

// Настройки курсора
$cursor-hover-url: "../img/cursor_hover.png";
$cursor-hover-x: 12;
$cursor-hover-y: 0;
