// IMPORTS
@use "sass:meta";
@use "sass:math";
@use "variables" as *;
@use "functions" as *;
@use "reset";
@use "fonts";
@use "global";
@use "components/loader";
@use "components/header";
@use "components/banner";
@use "components/reactions";
@use "components/quiz";
@use "components/reviews";
@use "components/footer";
@use "components/modal";
